canvas{
    border: 1px solid black;
    background-color: PERU;
}

.game-top{
  /* text-align: center; */
  width: 100%;
  height: 100%;
}

.progress{
  /* transform: rotate(-90deg); */
  margin-top: 10px;
  width: 100%;
  height: 30px;
} 


.text-color-a{
  color: rgb(155, 235, 204);
}

.text-color-b{
  color: rgb(230, 224, 225);
}

.text-color-power{
  color: rgb(226, 59, 95);
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.border-user{
  border: 5px solid coral;
  border-style: inset;
  border-radius: 5px;
  margin-bottom: 5px;
}